.landing-page{
    padding:0px;
}


/*STYLING of HEADER STARTS*/
.heading{
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
    margin-top: 100px;
}
.logo{
    font-size: 24px;
    color:#F9FAF8;
}
.text{
    font-size: 18px;
    color:#ccced3;
}
.button button{
    background-color: blue;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    padding:12px 28px;
}
.button button:hover{
    background-color: white;
    color: blue;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header img{
    height:auto;
    width: 300px;
    margin-top: 100px;
}
/* STYLING of HEADER ENDS*/

/*ORGANISATION of HEADER STARTS*/
.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding:20px 150px 100px 150px;
}
.subtext{
    display: flex;
    justify-content: space-between;
}
.main{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.top ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding:0 ;
    gap:15px;
    color:#ccced3;
}
/*ORGANISATION of HEADER ENDS*/



/*STYLING of BODY STARTS*/
.body{
    background-color: white;
}
.maintext{
    font-size: 36px;
    font-weight: bolder;
    color: black;
}
.boxtext{
    font-size: 18px;
    color: rgb(0, 0, 0);
}
.box1,.box2,.box3,.box4{
    border: 3px solid rgb(43, 103, 233);
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
/*STYLING of BODY ENDS*/

/*ORGANISATION of BODY STARTS*/
.body{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
.box{
    max-width: 150px;
}
.maintext{
    margin:25px;
}
/*ORAGANISATION of BODY ENDS*/ 



/*STYLING and ORGANISATION of QUOTATION STARTS*/
.quotation{
    background-color: #E5E7EB;
    padding: 100px 200px;
    margin-top: 100px;
}
.quote{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    text-align: left;
}
.sal{
    font-size: 18px;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
/*STYLING and ORGANISATION of QUOTATION ENDS*/